{% extends 'layout/master.html' %}
{% load static %}
{% load humanize %}


{% block content %}

    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">KShs. {{ total_sales }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Purchase</p>
                                <h6 class="mb-0">KShs. {{ total_purchase }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Profit</p>
                                <h6 class="mb-0">KShs. {{ total_profit }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">KShs. {{ total_revenue }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Products Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="px-4">
                         <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Products View</h6>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>

                                        <th scope="col">Product Name</th>
                                        <th scope="col">Product Category</th>
                                        <th scope="col">Product Price</th>
                                        <th scope="col">Product Quantity</th>
                                        <th scope="col">Updated_at</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.productCode }}</td>
                                        <td>{{ product.productName }}</td>
                                        <td>{{ product.productCategory }}</td>
                                        <td>{{ product.productPrice }}</td>
                                        <td>{{ product.productQuantity }}</td>
                                        <td>{{ product.updated_at }}</td>

                                        {% if perms.inventory_app.delete_product %}
                                            <td>
                                                <a href="{% url 'delete_product' product.id %}"
                                                   class="btn btn-danger w-100">Delete</a>
                                            </td>
                                        {% endif %}


                                            <td>
                                                <a href="{% url 'product_details' product.id %}"
                                                   class="btn btn-danger w-100">Update</a>
                                            </td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


{#                                start pagination #}
                         <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href='?page=
                                        {{ products.previous_page_number }}'>Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href='' tabindex="-1" aria-disabled="True">Previous</a>
                            </li>
                        {% endif %}
                           <li class="page-item disabled">
                                <a class="page-link" href='' tabindex="-1"
                                   aria-disabled="True">{{ products.number }} of
                                    {{ products.paginator.num_pages }}</a>
                            </li>
                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href='?page=
                                {{ products.next_page_number }}'>Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href='' tabindex="-1" aria-disabled="True">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
{#                         end pagination#}


                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-secondary text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Transactions</h6>
                        <a href="{% url 'view_transactions' %}">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col"><input class="form-check-input" type="checkbox"></th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            {% for transaction in transactions %}
                            <tbody>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox"></td>
                                    <td>{{ transaction.product }}</td>
                                    <td>{{ transaction.transaction_type }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ transaction.updated_at }}</td>
                                    <td><a class="btn btn-sm btn-primary" href="">Done</a></td>
                                </tr>

                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <h6 class="mb-0">Suppliers</h6>
                                <a href="{% url 'view_suppliers' %}">Show All</a>
                            </div>


                            <div class="d-flex align-items-center border-bottom py-3">
{#                                <img class="rounded-circle flex-shrink-0" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">#}
                                <div class="w-100 ms-3">
                                     {% for supplier in suppliers %}
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-0">{{ supplier.name }}</h6>
                                        <small>
                                            {{ supplier.email }} <br>
                                            contact : {{ supplier.contact }}
                                        </small>
                                    </div>
                                         <span>{{ supplier.created_at  }}</span>
                                         <hr>
                                       {% endfor %}
                                </div>
                            </div>



                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Calender</h6>
                                <a href="">Show All</a>
                            </div>
                            <div id="calender"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-secondary rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Client List</h6>
                                <a href="{% url 'view_suppliers' %}">Show All</a>
                            </div>
{#                            <div class="d-flex mb-2">#}
{#                                <input class="form-control bg-dark border-0" type="text" placeholder="Enter task">#}
{#                                <button type="button" class="btn btn-primary ms-2">Add</button>#}
{#                            </div>#}
                            {% for customer in customers %}
                            <div class="d-flex align-items-center border-bottom py-2">
                                <input class="form-check-input m-0" type="checkbox">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span>{{ customer.name }} {{ customer.address }}</span>
                                        <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->



        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

{% endblock %}

    qqq