{% extends "layout/master.html" %}
{% load humanize %}

{% block title %}
    All Suppliers
{% endblock %}

{% block content %}
    <div class="container-fluid position-relative d-flex p-0">
     <div class="content">
      <div class="container-fluid pt-4 px-4">
     <div class="col-sm-12 col-xl-9">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">All Suppliers</h6>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Supplier Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Contact</th>
                                        <th scope="col">Created_at</th>
                                         <th scope="col">Updated_at</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for supplier in suppliers %}
                                    <tr>
                                        <td>{{ supplier.name }}</td>
                                        <td>{{ supplier.email }}</td>
                                        <td>{{ supplier.contact }}</td>
                                        <td>{{ supplier.created_at }}</td>
                                        <td>{{ supplier.updated_at }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
      </div>
     </div>
    </div>
{% endblock %}